<template>
  <footer class="sct-footer  js-scroll" data-sct="footer">
    <div class="flex footer-line1 content-block  js-inview">
      <div class="footer-logo rise-txt">
        <img src=" /assets/img/svg/logo-en.svg" alt="SNOWSAND" width="460" height="54" />
      </div>
      <div data-scroll-to="top" class="footer-gotop scroll-to">
        <div class="rise-txt">
          <div class="flex">
            <div class="text slot-chars">
              <div class="slot slot-t1 charwrap">BACK TO TOP</div><div class="slot slot-t2 charwrap">BACK TO TOP</div>
            </div>
            <div class="icon slot-chars">
              <div class="slot slot-t1"><span><img src=" /assets/img/svg/arrow.svg" alt="UP" width="50" height="50" class="icon-up" /></span></div>
              <div class="slot slot-t2"><span><img src=" /assets/img/svg/arrow.svg" alt="UP" width="50" height="50" class="icon-up" /></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex footer-line2 content-block  js-inview">
      <div class="footer-copyright">
        <span class="rise-txt">
          © 2021 K confect inc.
        </span>
      </div>
      <ul class="footer-corp flex">
        <li class="flex">
          <span class="rise-txt">運営：</span>
          <span class="rise-txt">
            <a href="https://www.kinotoya.com/company/" class="a-uline">
              株式会社Kコンフェクト<span class="icon"><img src=" /assets/img/svg/arrow.svg" alt="external" width="16" height="16" class="icon-external" /></span>
            </a>
          </span>
        </li>
        <li class="rise-txt">
          <a href="スノーサンドについてのお問い合わせ" class="js-m a-uline">
            お問い合わせ<span class="icon"><img src=" /assets/img/svg/arrow.svg" alt="external" width="16" height="16" class="icon-external" /></span>
          </a>
        </li>
        <li class="rise-txt">
          <a href=" /privacy/" class="a-uline">
            プライバシーポリシー
          </a>
        </li>
      </ul>
      <div class="footer-social rise-txt">
        <div class="flex">
          <div class="title">フォロー</div>
          <div class="border"></div>
          <ul class="list">
            <li>
              <Twitter />
            </li>
            <li>
              <Instagram />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>


<script>
import Instagram from '~/components/Icon-Instagram.vue';
import Twitter from '~/components/Icon-Twitter.vue';

export default {
  components: {
    Instagram,
    Twitter,
  },
};
</script>
